<!DOCTYPE html>
<head> 
	<h1>Login</h1>
	<title>Login</title>
</head>
<a href="/home">
<button>Home</button>
</a>
<h2>Enter your login data:</h2>
<form action="/login" method="POST">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" maxlength="32" size="16" value="" placeholder="Username">
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" maxlength="32" size="16" value="" placeholder="Password">
	<button type="submit">Submit</button>
</form>